*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 999;
    height: 65px;
}
.nav-center{
    display: flex;
    gap: 25px;
}
.nav-center a{
    text-decoration: none;
    color: #fff;
}
.nav-right{
    display: flex;
    gap: 25px;
}
.nav-right-account{
    display: flex;
    align-items: center;
    gap: 7px;
}
.menu{
    display: none;
}
.menu-options{
    display: none;
}
.main{
    display: flex;
    margin-top: 100px;
}
.main-left-mob{
    display: none;
}
.main-left{
    position: fixed;
    /* background-color: bisque; */
    width: 180px;
    left: 30px;
    height: 100%;
}   
.main-left-h1{
    font-size: 16px;
    margin-bottom: 25px;
}
.options-browse{
    font-size: 15px;
    opacity: 60%;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 7px;
    padding: 7px 15px;
    border-radius: 5px;
}
.options-browse:hover{
    background: linear-gradient(to right, rgb(100, 100, 100), rgba(110, 107, 107, 0.287));
}
.options-active{
    opacity: 100%;
}
.main-left1{
    margin-bottom: 50px;
}
.options-library{
    font-size: 15px;
    opacity: 60%;
    font-weight: 200;
    display: flex;
    gap: 15px;
    margin-bottom: 7px;
    padding: 7px 15px;
    border-radius: 5px;
}
.main-center{
    margin-left: 230px;
    width: 900px;
    /* background-color: antiquewhite; */
    margin-right: 330px;
}

.song img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 7px;
    object-fit: cover;
    object-position: center;
    transition: width 0.3s ease-in;   
}
.dummy{
    width: 280px;
    margin-bottom: 7px;
    object-fit: cover;
    object-position: center;   
}
.dummy img{
    width: 100%;
}
.song {
    /* background-color: blue; */
    width: 100%;
    /* min-width: 200px; */
    font-size: 16px;
    position: relative;
    transition: width 0.3s ease-in;
}
.song::before{
    content: "";
    position: absolute;
    background-color: rgba(17, 18, 18, 0);
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-in;
}
.song:hover::before{
    cursor: pointer;
    background-color: rgba(17, 18, 18, 0.626);
}
.play-btn{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 50px;
    transition: all 0.15s ease-in;
}
.songs{
    /* background-color: gray; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    transition: all 0.3s ease-in;
}
.main-right{
    position: fixed;
    right: 30px;
    /* background-color: aqua; */
    width: 280px;
    height: 100%;

}
.progress-bar-out{
    margin: 80px auto 50px auto;
    height: 8px;
    width: 250px;
    background-color: rgba(135, 135, 135, 0.41);
    border-radius: 30px;
    padding: 2px;
}
.progress-bar-in{
    background-color: #fff;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    transition: all 0.5s linear;
}
.main-right .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 60px;
}


@media screen and (max-width:800px){
    *{
        margin: 0;
        padding: 0;
    }
    .dummy img{
        width: 100px;
        height: 100px;
    }
    .dummy{
        height: 200px;
        padding: 25px 90px;
        display: flex;
        width: 100%;
        gap: 30px;
        justify-content: space-between;
        /* background-color: #000; */
        margin-bottom: 0;
        background: rgba(44, 44, 44, 0.604);
        backdrop-filter: blur(10px);  
    }
    .progress-bar-out{
        width: 100%;
    }
    .controls{
        /* background-color: aqua; */
        width: 100%;
    }
    .controls .progress-bar-out{
        margin: 20px 0 20px 0;
    }
    .controls .buttons{
        font-size: 30px;
    }
    .nav-center{
        display: none;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .menu-options{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        z-index: 99;
        right: 10px;
        top: -500px;
        height: 200px;
        width: 60%;
        max-width: 250px;
        padding: 30px 0px;
        border-radius: 10px;
        background-color: #353535;
        position: fixed;
        transition: all .7s ease-in;
    }
    .menu-options a{
        text-decoration: none;
        color: #fff;
    }
    .main-left{
        /* background-color: aqua; */
        display: flex;
        width: fit-content;   
        padding: 20px 20px;
        left: 0;
    }
    .main-left1, .main-left2{
        display: none;
    }
    .main-left-mob{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
    }
    .main-right{
        /* background-color: antiquewhite; */
        display: flex;
        align-items: center;
        bottom: 0;
        right: 0;
        left: 0;
        height: 80px;
        width: auto;
    }

    .main-center{
        width: 100%;
        margin-right: 30px;
        margin-left: 70px;
    }
    .songs{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(180px, .7fr));
    }

    /* .main-left{
        padding: 0;
    } */

}

@media screen and (max-width: 500px){
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .songs{
        /* background-color: aliceblue; */
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(140px, .7fr));
        justify-content: center;
    }
    .song{
        width: 100%;
        /* background-color: antiquewhite; */
    }
    .dummy{
        padding: 20px 20px;
        height: 120px;
    }
    .dummy img{
        width: 80px;
        height: 80px;
    }
    .main-left{
        background-color: #030303dc;
        bottom: 0;
        height: 10px;
        width: 100%;
        z-index: 99;
    }
    .main-left-mob{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .main-right{
        bottom: 60px;
    }
    .main-center{
        margin-left: 30px;
    }

}